# CMake build directory
build/

# Kdevelop project files
*.kdev4

# Kdevelop swap files
*.kate-swp

# Vim swap files
*.swp

# Visual Code files
.vscode/
*.code-workspace

# Output files
*.o
*.out
*.a
*.so
*.so.*
